O objetivo principal é submeter um código em R que realize as tarefas abaixo mencionadas. Cada tarefa cumprida aumenta a nota da avaliação. Quanto ao banco de dados, ele é aleatório e vai ser diferente para cada pessoa. No entanto, os objetivos são os mesmos e a pontuação segue abaixo:

(5 pontos) É entregue um código funcional em que 40% dos dados (80) seja selecionada segundo uma amostragem aleatória simples sem reposição [MUITO IMPORTANTE VERIFICAREM QUE O PROGRAMA RODE ANTES DE SUBMETER];
(1 ponto) Nomear os vendedores e vendedoras de acordo com o banco de dados auxiliar (também gerado de forma aleatória);
(1 ponto) Ordenar os vendedores e vendedoras de acordo com a variável sorteada a respeito das vendas (NOTE QUE É PRECISO AGRUPAR OS VENDEDORES E VENDEDORAS PELO TOTAL);
(1 ponto) Ordenar a variável relativas as vendas para cada mês (NOTE QUE É PRECISO AGRUPAR OS MESES PELO TOTAL);
(1 ponto) Ordenar a variável relativa aos produtos com relação a variável relativa a vendas (NOTE QUE É PRECISO AGRUPAR OS PRODUTOS PELO TOTAL);
(1 ponto) Ordenar a variável relativa as zonas/regiões com relação a variável relativa a vendas (NOTE QUE É PRECISO AGRUPAR AS ZONAS/REGIÕES PELO TOTAL);